<form th:fragment="add (clienteDTO)" th:object="${clienteDTO}" action="/cliente/novo" method="POST">
    
    <div th:replace="cliente/form :: form-fields (${clienteDTO})">
    </div>
    
    <div class="form-row mt-5">
        <button class="btn btn-lg btn-success ml-1" type="submit">Salvar</button>
        <a class="btn btn-lg btn-danger" href="/cliente" role="button">Cancelar</a>
    </div>
    <script>
        function applyNumMask(element) {
            var maskCpf = {
                mask: '000.000.000-00'
            }

            var numberMask = IMask(element, {
                mask: Number,

                scale: 2,
                signed: false,
                thousandsSeparator: '.',
                padFractionalZeros: false,
                normalizeZeros: true,
                radix: ',',
                mapToRadix: ['.'],

                // additional number interval options (e.g.)
                min: 0
            });
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            var maskCpf = {
                mask: '000.000.000-00'
            }
            var maskTelefone = {
                mask: '(00) 9 0000-0000'
            }
            var maskEmail = {
                mask:function (value) {
                    if(/^[a-z0-9_\.-]+$/.test(value))
                        return true;
                    if(/^[a-z0-9_\.-]+@$/.test(value))
                        return true;
                    if(/^[a-z0-9_\.-]+@[a-z0-9-]+$/.test(value))
                        return true;
                    if(/^[a-z0-9_\.-]+@[a-z0-9-]+\.$/.test(value))
                        return true;
                    if(/^[a-z0-9_\.-]+@[a-z0-9-]+\.[a-z]{1,4}$/.test(value))
                        return true;
                    return false;
                }
            }
            var maskCep = {
                mask: '00\.000-000'
            }
            

            var elCpf = document.querySelector('#cpf');
            var elTelefone = document.querySelector('#telefone');
            var elEmail = document.querySelector('#email');
            var elCep = document.querySelector('#cep');
            
            IMask(elCpf, maskCpf);
            IMask(elTelefone, maskTelefone);
            IMask(elEmail, maskEmail);
            IMask(elCep, maskCep);
        });
    </script>
</form>

<form th:fragment="edit (clienteDTO)" th:object="${clienteDTO}" th:action="${'/cliente/' + clienteDTO.id+ '/edit'}" th:method="put">
    <input type="hidden" name="_method" value="put">
    <div th:replace="cliente/form :: form-fields (${clienteDTO})">
    </div>
    
    <div class="form-row mt-5">
        <button class="btn btn-lg btn-success ml-1" type="submit">Salvar</button>
        <a class="btn btn-lg btn-danger" href="/cliente" role="button">Cancelar</a>
    </div>
    <script>
        function applyNumMask(element) {
            var maskCpf = {
                mask: '000.000.000-00'
            }

            var numberMask = IMask(element, {
                mask: Number,

                scale: 2,
                signed: false,
                thousandsSeparator: '.',
                padFractionalZeros: false,
                normalizeZeros: true,
                radix: ',',
                mapToRadix: ['.'],

                // additional number interval options (e.g.)
                min: 0
            });
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            var maskCpf = {
                mask: '000.000.000-00'
            }
            var maskTelefone = {
                mask: '(00) 9 0000-0000'
            }
            var maskEmail = {
                mask:function (value) {
                    if(/^[a-z0-9_\.-]+$/.test(value))
                        return true;
                    if(/^[a-z0-9_\.-]+@$/.test(value))
                        return true;
                    if(/^[a-z0-9_\.-]+@[a-z0-9-]+$/.test(value))
                        return true;
                    if(/^[a-z0-9_\.-]+@[a-z0-9-]+\.$/.test(value))
                        return true;
                    if(/^[a-z0-9_\.-]+@[a-z0-9-]+\.[a-z]{1,4}$/.test(value))
                        return true;
                    return false;
                }
            }
            var maskCep = {
                mask: '00\.000-000'
            }
            

            var elCpf = document.querySelector('#cpf');
            var elTelefone = document.querySelector('#telefone');
            var elEmail = document.querySelector('#email');
            var elCep = document.querySelector('#cep');
            
            IMask(elCpf, maskCpf);
            IMask(elTelefone, maskTelefone);
            IMask(elEmail, maskEmail);
            IMask(elCep, maskCep);
        });
    </script>
</form>

<div th:fragment="form-fields (clienteDTO)">
    <div class="form-group card-section">
        <h4 class="card-title"><i class="fa fa-user" aria-hidden="true"></i> Dados Pessoais</h4>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <label>Nome</label>
                <input th:field="*{nome}" th:errorClass="is-invalid" class="form-control" placeholder="Não preenchido"/>
                <div class="invalid-feedback" th:errors="*{nome}">
                    nome inválido
                </div>
            </div>
            <div class="col-md-6">
                <label>CPF</label>
                <input th:field="*{cpf}" th:errorClass="is-invalid" class="form-control" placeholder="Não preenchido"/>
                <div class="invalid-feedback" th:errors="*{cpf}">
                    cpf inválido
                </div>
            </div>
        </div>
    </div>
    <div class="form-group card-section">
        <h4 class="card-title"><i class="fa fa-phone" aria-hidden="true"></i> Contato</h4>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <label>Email</label>
                <input th:field="*{email}" th:errorClass="is-invalid" class="form-control" placeholder="Não preenchido"/>
                <div class="invalid-feedback" th:errors="*{email}">
                    email inválido
                </div>
            </div>
            <div class="col-md-6">
                <label>Telefone</label>
                <input th:field="*{telefone}" th:errorClass="is-invalid" class="form-control" placeholder="Não preenchido"/>
                <div class="invalid-feedback" th:errors="*{telefone}">
                    telefone inválido
                </div>
            </div>
        </div>
    </div>
    <div class="form-group card-section">
        <h4 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i> Endereço</h4>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <label>Bairro</label>
                <input th:field="*{bairro}" th:errorClass="is-invalid" class="form-control" placeholder="Não preenchido"/>
                <div class="invalid-feedback" th:errors="*{bairro}">
                    bairro inválido
                </div>
            </div>
            <div class="col-md-4">
                <label>Cidade</label>
                <input th:field="*{cidade}" th:errorClass="is-invalid" class="form-control" placeholder="Não preenchido"/>
                <div class="invalid-feedback" th:errors="*{cidade}">
                    cidade inválido
                </div>
            </div>
            <div class="col-md-2">
                <label>Estado</label>
                <input th:field="*{estado}" th:errorClass="is-invalid" class="form-control" placeholder="Não preenchido"/>
                <div class="invalid-feedback" th:errors="*{estado}">
                    estado inválido
                </div>
            </div>
            <div class="col-lg-10">
                <label>Rua</label>
                <input th:field="*{rua}" th:errorClass="is-invalid" class="form-control" placeholder="Não preenchido"/>
                <div class="invalid-feedback" th:errors="*{rua}">
                    rua inválido
                </div>
            </div>
            <div class="col-sm-2">
                <label>Número</label>
                <input th:field="*{numero}" th:errorClass="is-invalid" class="form-control" placeholder="Não preenchido"/>
                <div class="invalid-feedback" th:errors="*{numero}">
                    número inválido
                </div>
            </div>
            <div class="col-sm-3">
                <label>CEP</label>
                <input th:field="*{cep}" th:errorClass="is-invalid" class="form-control" value="59014-100" placeholder="Não preenchido"/>
                <div class="invalid-feedback" th:errors="*{cep}">
                    CEP inválido
                </div>
            </div>
        </div>
        <div>
            <label for="exampleFormControlTextarea1">Complemento</label>
            <textarea th:field="*{complemento}" th:errorClass="is-invalid" class="form-control" rows="2"></textarea>
            <div class="invalid-feedback" th:errors="*{complemento}">
                complemento inválido
            </div>
        </div>
    </div>
</div>