<!DOCTYPE html>
<html>
	<div th:replace="base :: head"></div>
	
	<body class="d-flex flex-column justify-content-between">
		<div>
			<div th:replace="base :: logo"></div>
			<!-- HOME CONTENT - BEGIN -->
            <div class="container mt-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <div th:replace="cliente/form :: main (${clienteDTO})"></div>
                    </div>
                </div>
			</div>
	
			<!-- HOME CONTENT - END -->
		</div>
		<div th:replace="base :: footer"></div>
	</body>
</html>