<div th:fragment="lista-servicos (servicos)" class="card mt-3 mb-5" th:each="servico : ${servicos}">
	<div class="card-header text-center bg-gradient header-servico-pendente" th:if="${servico.ehPendente}">
    	<h3 th:text="${servico.getTipoServicoNome + ' - ' + servico.getStatusServicoNome}"></h3>
	</div>
	  
	<div class="card-header text-center bg-gradient header-servico-em_andamento" th:if="${servico.ehEmAndamento}">
		<h3 th:text="${servico.getTipoServicoNome + ' - ' + servico.getStatusServicoNome}"></h3>
	</div>
	  
	<div class="card-header text-center bg-gradient header-servico-finalizado" th:if="${servico.ehFinalizado}">
		<h3 th:text="${servico.getTipoServicoNome + ' - ' + servico.getStatusServicoNome}"></h3>
	</div>
	  
	<div class="card-header text-center bg-gradient header-servico-cancelado" th:if="${servico.ehCancelado}">
		<h3 th:text="${servico.getTipoServicoNome + ' - ' + servico.getStatusServicoNome}"></h3>
	</div>
	
	<div class="ml-2">
		<a th:unless="${servico.ehFinalizado()}" class="btn botao-servico-finalizado" th:href="${'/servico/' + servico.id + '/finalizado'}" role="button"></a>
		<a th:unless="${servico.ehEmAndamento()}" class="btn botao-servico-em_andamento" th:href="${'/servico/' + servico.id + '/em-andamento'}" role="button"></a>
		<a th:unless="${servico.ehPendente()}" class="btn botao-servico-pendente" th:href="${'/servico/' + servico.id + '/pendente'}" role="button"></a>
		<a th:unless="${servico.ehCancelado()}" class="btn botao-servico-cancelado" th:href="${'/servico/' + servico.id + '/cancelado'}" role="button"></a>
	</div>
	  
	<div class="card-body row">
  		<div class="col-8">
	  		<h3 class="card-title">Moto</h3>
	  		<div class="row">
	  			<p class="col-4">Marca: Kasinski</p>
	  			<p class="col-4">Modelo: <span th:text="${servico.moto.modelo}"></span></p>
	  			<p class="col-4">Ano: <span th:text="${servico.moto.ano}"></span></p>
	  		</div>
	  		<div class="row">
	  			<p class="col-4">Placa: <span th:text="${servico.moto.placa}"></span></p>
	  			<p class="col-4">Quilometragem: <span th:text="${#numbers.formatInteger(servico.moto.quilometragem,3,'POINT')}"></span> KM</p>
				<p class="col-4">Cilindrada: <span th:text="${#numbers.formatInteger(servico.moto.cilindrada,3,'POINT')}"></span> cc</p>
	  		</div>
	  		<h3 class="card-title">Serviço</h3>
	  		<div class="row">
	  			<p class="col-2">Descrição: </p>
	  			<p class="col-10" th:text="${servico.descricao}"> Sem descrição</p>
	  		</div>
	  		<div class="row">
		      	<p class="col-6">Data início: <span th:text="${#calendars.format(servico.data_inicio, 'dd/MM/yyyy HH:mm')}"></span></p>
		      	<p class="col-6">Data fim: <span th:text="${#calendars.format(servico.data_fim, 'dd/MM/yyyy HH:mm')}"></span></p>
		    </div>
	  		<div class="row">
		      	<p class="col">Valor: R$ <span th:text="${#numbers.formatDecimal(servico.valor, 0,'POINT',2,'COMMA')}">0,00</span></p>
		    </div>
		    <h3 class="card-title">Cliente</h3>
	  		<div class="row">
	  			<p class="col-6">Nome: <span th:text="${servico.moto.getProprietario().nome}"></span></p>
	  			<p class="col-6">Telefone: <span th:text="${servico.moto.getProprietario().telefone}"></span></p>
	  		</div>
	  	</div>
	  	<div class="col-4">
  			<img class="card-img-bottom" th:src="${servico.moto.urlImg}">
  		</div>
	</div>
	<div class="card-footer text-muted">
		<a class="btn btn-primary btn-lg" href="#" role="button">Editar</a>
	</div>
</div>